target
.DS_Store
peercoder
program_synthesys
target
examples
run_examples.sh
experiments
scratch
*.ser
*/test/*
*.txt
.vscode
.classpath
.project
.settings
*/experiment
.ipynb_checkpoints/
venv
*.csv
srini_sample
analysis
logsim/results/*
*.log
